<!DOCTYPE html>
<html>
<header>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	
	<link href='https://fonts.googleapis.com/css?family=Impact' rel='stylesheet'>
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
	<!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
	<link rel="stylesheet" type="text/css" href="index.css"/>

</header>
<body>
	<div>
		<nav class="navbar navbar-trans navbar-expand-md  fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#header"  class="navbar-left"><img id="logo" src="logo.png"></a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  	</button>
			  	<!-- <div id="nav_top" class="container nav_top">
				  	<a id="social_media" href="https://www.facebook.com/Fintechstorm/" class="fa fa-facebook"></a>
			<a id="social_media" href="https://twitter.com/FintechStorm" class="fa fa-twitter"></a>
			<a id="social_media" href="#" class="fa fa-telegram"></a>
			<a id="social_media" href="https://www.reddit.com/r/fintech" class="fa fa-reddit"></a>
				 </div> -->
			  <!-- Navbar links -->
				  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="#team">Team</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#detail">Blogs</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#whitepaper">Whitepaper</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#detail">PlatForm</a>
				      </li>
				      
				    </ul>
				  </div> 
				</div>
		</nav>
	<div>
	<section id="header" class="topDisplay">
		<div class="container ">
			<div class="row">
				<div class="col-md-6">
					<div class = "ico">
					TokenStorm
					</div>
					<!-- <div class="row button">
					<a href='' class = 'col-md-4'>Token</a>
					<a href='whitepaper.pdf' class = 'col-md-4'>Whitepaper</a>
					<a href='#signup' class = 'col-md-4'>Register</a>
					</div> -->
					
				</div>
				<!-- <div class="col-md-8">
					<ul class = "social">
					
						<li ><a href=""><i class="fab fa-facebook-f fa-3x" style="color:darkblue;"></i></a></li>
						<li ><a href=""><i class="fab fa-twitter fa-3x" style="color:darkblue;"></i></a></li>
						<li ><a href=""><i class="fab fa-telegram fa-3x" style="color:darkblue;"></i></a></li>
		
					</ul>
				</div> -->
					
			</div>
		</div>
	</section>
	<section id="token">
		
		<div class="token">
			<div><i class = "fa fa-universal-access icon"></i><br>Universal</div>
			<div><i class = "fa fa-lock icon"></i><br>Reliable</div>
			<div><i class = "fa fa-line-chart icon"></i><br>Scalable</div>
			
			
		</div>

	</section>
	<section id="social">
		<h1>Social</h1>
		<div class="social">
			<i class = "fa fa-facebook-square"></i>
			<i class = "fa fa-telegram"></i>
			<i class = "fa fa-twitter"></i>
			<i class = "fa fa-linkedin-square"></i>
			<i class = "fa fa-medium"></i>
			
		</div>

	</section>
	
	<section >
		<h1>Buy Token here</h1>

	</section>
	<section id="team">
		
		<h1>The Team</h1>
		<div class="team">
			<div>
				<img src="unavailable.png">
				<h2>Name</h2>
				
			</div>
			<div>
				<div class="repl">
				<img src="unavailable.png">
				<i class="fab fa-3x fa-linkedin-in icon" ></i>
				</div>

				<h2>Name</h2>
				
			</div>
			<div>
				<img src="unavailable.png">
				<h2>Name</h2>
				
			</div>
			<div>
				<img src="unavailable.png">
				<h2>Name</h2>
				
			</div>
			
		</div>
	</section>


	<div id="whitepaper" class = "whitepaper">
		<h1>White Paper</h1>
		<div>
		<h2>TokenStorm Whitepaper: </h2>
		<a 	href='whitepaper.pdf' target="_blank"><p>centralised exchange using decentralised technology</p><i  class="fa fa-3x fa-file-pdf"></i></a>
		</div>
	</div>
	<div class = "signup" id="signup">
		<div class="signup2 ">
		<h2 class="signup1">Stay Tuned:   </h2><input class="signup1" placeholder="someone@email.com" type="text" size="40">
		</div>
	</div>
</body>

</html>