<!DOCTYPE html>
<html>
<header>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Impact' rel='stylesheet'>
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
	<!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
	<link rel="stylesheet" type="text/css" href="index.css"/>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="index.js"></script>


</header>
<body>
	
		<nav class="navbar navbar-trans navbar-expand-md  fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">

					

					<a href="#header"  class="navbar-left"><img id="logo" src="logo.png"></a>
				</div>
				
<!-- 
			  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsibleNavbar">
				                               
				</button> -->
			  	
			  
				  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				    <ul class="nav navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="#team">Team</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#detail">Blogs</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#social">Social</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#whitepaper">Whitepaper</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#detail">About</a>
				      </li>
				      
				    </ul>
				  </div> 
				</div>
		</nav>
	
		






	<section id="header" class="topDisplay">
		<div class="container ">
			<div class="row">
				<div class="col-md-6">
					<div class = "ico">
					TokenStorm
					</div>
					<!-- <div class="row button">
					<a href='' class = 'col-md-4'>Token</a>
					<a href='whitepaper.pdf' class = 'col-md-4'>Whitepaper</a>
					<a href='#signup' class = 'col-md-4'>Register</a>
					</div> -->
					
				</div>
				<!-- <div class="col-md-8">
					<ul class = "social">
					
						<li ><a href=""><i class="fab fa-facebook-f fa-3x" style="color:darkblue;"></i></a></li>
						<li ><a href=""><i class="fab fa-twitter fa-3x" style="color:darkblue;"></i></a></li>
						<li ><a href=""><i class="fab fa-telegram fa-3x" style="color:darkblue;"></i></a></li>
		
					</ul>
				</div> -->
					
			</div>
		</div>
	</section>
	<section id="token">
		
		<div class="token">
			<div><i class = "fa fa-universal-access icon"></i><br>Universal</div>
			<div><i class = "fa fa-lock icon"></i><br>Reliable</div>
			<div><i class = "fa fa-line-chart icon"></i><br>Scalable</div>
			
			
		</div>

	</section>


	<section id="details">
		<div class ="container">
			<div class="design">
				<h2 id="head"> About</h2>
				<svg height="80" width="100%">
				  <line x1="0" y1="0" x2="700" y2="0" style="stroke:/*rgb( 0, 0, 200)*/white;stroke-width:6" />
				  Sorry, your browser does not support inline SVG.
				</svg>

				<p>Decentralised Global Capital Markets Platform ( DGCAMP ) is a new-age architecture where investors of capital and seekers of capital can interact freely, trustlessly and with minimum friction. The platform can operate with and without intermediaries.</p>
				
							
				<p>DGCAMP is a blockchain and smart-contract driven platform where issuers (public and private firms, governments, non-profit foundations) can access a broad class of primary market investors (both institutional and retail), complete a variety of automated transactions and processes (such as book building, auctions, syndications, dividend distributions) and can issue a broad array of digital assets to investors. Investors of every type, jurisdiction and financial status can use the platform to learn about investment opportunities across the globe, their regulatory aspects, risks and expected returns, to access due diligence reports, and to invest directly without having to go through intermediaries. A secondary market layer with buyers, sellers, arbitrageurs can easily complement this system. The system can first be envisaged as a single-country system and then extended to a multi-country global marketplace.</p>

				<h1>Benefits</h1>
				<p></p>
			</div>
		</div>
	</section>
	<section id="social">
		<h1>Social</h1>
		<div class="social">
			<i class = "fa fa-facebook-square"></i>
			<i class = "fa fa-telegram"></i>
			<i class = "fa fa-twitter"></i>
			<i class = "fa fa-linkedin-square"></i>
			<i class = "fa fa-medium"></i>
			
		</div>

	</section>
	
	
	<section id="team">
		
		<h1>The Team</h1>
		<div class="team">
			<div class="mem">
				<img src="unavailable.png">
				<h2>Name</h2>
				
			</div>
			<div class="mem">
				
				<img src="unavailable.png">
				<!-- <i class="fab fa-3x fa-linkedin-in icon" ></i> -->
				<h2>Name</h2>
				
			</div>
			<div class="mem">
				<img src="unavailable.png">
				<h2>Name</h2>
				
			</div>
			
			<div class="mem">
				<img src="unavailable.png">
				<h2>Name</h2>
				
			</div>
			
		</div>
	</section>


	<div id="whitepaper" class = "whitepaper">
		<h1>Preliminary White Paper</h1>
		<div style="display:flex;justify-content: space-between;margin-top:25px;">
		
		<h2>TokenStorm Whitepaper: </h2>
		
		<a 	href='whitepaper.pdf' target="_blank">
			<i  class="fa  fa-3x fa-file-pdf-o"></i>
		</a>
		
		</div>
		

		<p>centralised exchange using decentralised technology</p>
		
	</div>
	<section id="mail">
		<div class = "mail">
			<h2>Stay Tuned : </h2>
			<input type="text" name="mail" placeholder= "someone@example.com" size="45" >
			<button>Go!</button>
		</div>
	</section>
</body>

</html>