<!DOCTYPE html>
<html>
<head>
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 
	
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="ticker.css"/>
	
</head>

<body>
	<section>
		<div class="top">
			<div class="containe">
				<h1>
					Getting Onboard Ticker Highway
				</h1>

				<div class ="desc">
					<div class="indesc">
						<h2>
						The world's pioneering platform for Initial Security Token Offerings.
						<h2>
					 	<i class="fa fa-3x	fa fa-lock"></i>
					</div>
					<div class="indesc">
					 	<i class="fa fa-3x	fa fa-key"></i>
						<h2>
						Ease of a token sale combined with the safety of equity.
						</h2>
					</div>
					<div class="indesc">
						<h2>
						A decentralised token platform where companies across the globe from any industry can raise public capital through stocks and bonds on Blockchain.
						</h2>
						<i class="fa fa-3x	fa fa-key"></i>
					</div>
					<div class="indesc">
						<h2>
						One global borderless exchange where you can launch your Initial Security Token Offering (ISTO) and access global investors at the touch of a button.
						</h2>
					</div>
				</div>
				<div>
					
					<div class="done">	
						Meet your white listed, KYCed investors directly on the Blockchain and raise money in minutes.



						No onerous criteria to be met for listing on stock exchanges like Newyork Stock Exchange, London Stock Exchange, Hong Kong Stick Exchange, Tokyo Stick Exchange, Bombay Stock Exchange etc.

						Welcome to Ticker Highway, the global borderless decentralised stock exchange of the future!

						Sign up here if you want to be the first to list on this exchange, when it goes live! 
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="form">
			<div>
				<label>Name</label>
				<br><input type="text" name="name" placeholder="Name">
			</div>
			<div>
				<label>Nationality</label>
				<br><input type="text" name="nationality" placeholder="Nationality">
			</div>
			<div>
				<label>Image Upload</label>
			</div>
			<div>
				<label>Email Id</label>
				<br><input type="text" name="Email" placeholder="someone@example.com">
			</div>
			<div>
				<label>Contact Number</label>
				<br><input type="text" name="contact" placeholder="Phone Number">
			</div>
			<div>
				<label>Company</label>
				<br><input type="text" name="company" placeholder="">
			</div>
			<div>
				<label>Company Registration</label>
			</div>
			<div>
				<label>Company Revenue (dropdown)</label>
			</div>
			<div>
				<label>incorporation (dropdown)</label>
			</div>
			<div>
				<label>Industry</label>
			</div>
			<div>
				<label>Employees(dropdown)</label>
			</div>
		</div>
			
	

 -->

 			<div class="benefits">
						<h3>No more middle-men.</h3>

						<h3>No more investment banks.</h3>

						<h3>No more doing the rounds of VCs.</h3>

						<h3>No fees to pay to investment banks</h3>

						<h3>No equity to give away to VCs.</h3>
			</div>



	</section>



 	<section>
 		<div class="form">
 					 <div style="text-align:center;margin-top:40px;">
					    <span class="step"></span>
					    <span class="step"></span>
					    <span class="step"></span>
					    <span class="step"></span>
					  </div>
					

					<form id="regForm" action="/action_page.php">
					  
					  <!-- One "tab" for each step in the form: -->
					  <div class="tab">
					  	<h1>Personal Info</h1>Name
					    <p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
					    <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>
					  <!-- </div>
 -->					  <!-- <div class="tab"> -->Contact Info
					    <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
					    <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
					  
					  D.O.B
					    <p><input placeholder="dd" oninput="this.className = ''" name="dd"></p>
					    <p><input placeholder="mm" oninput="this.className = ''" name="nn"></p>
					    <p><input placeholder="yyyy" oninput="this.className = ''" name="yyyy"></p>
					  </div>
					  <div class="tab">
					    <h1>Image Upload</h1>
					   <img id="output"/>
					   <input type="file" accept="image/*" onchange="loadFile(event)">
						
					  </div>

					   <div class="tab">
					    Industry Details
					    <p><input placeholder="Company Name" oninput="this.className = ''" name="email"></p>
					    <p><input placeholder="Company revenue" oninput="this.className = ''" name="phone"></p>
					    <p><input placeholder="Years since incorporation" oninput="this.className = ''" name="phone"></p>
					    <p><input placeholder="Employees oninput="this.className = ''" name="phone"></p>
					    <p><input placeholder="target revenue" oninput="this.className = ''" name="phone"></p>

					  </div>
					  <div style="overflow:auto;">
					    <div style="float:right;">
					      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
					      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
					    </div>
					  </div>
					  <!-- Circles which indicates the steps of the form: -->
					 
					</form>


 		</div>
 	</section>
 	<script type="text/javascript" src="ticker.js"></script>
</body>




</html>