
section{
	height:100%;
}

nav{
	display:flex;
	flex-wrap:wrap;
	
}


.topDisplay{
	height:650px;
	background-image: url('decent.jpg');
	z-index: 0;
}
.nav_background{
	background-color: rgba( 0, 0, 100, 1);
	/*background-color:rgba( 255, 255, 255, 0.5);*/
	transition: all 0.5s linear;
}
.nav-link{
	color:white;
	font-family: Raleway;
	font-size:30px;
	transition: font-size 0.5s linear;
	
}


.nav-link:hover{
	border-bottom:solid 4px blue;
	color:white;
	font-size:30px;
	padding-top:4px;
	
}


#logo{
	max-height:100px;
	max-width:200px;
	margin-left: 30px;
	transition: all 0.5s linear;
}

#social{
	padding-bottom: 7%;
	padding-top:2%;
	background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));
	text-align: center;

}
#social>h1{
	padding-bottom: 2%;
	font-family: Raleway;
	/*font-weight: bold;*/
	font-size: 40px;
	color:white;

}

.social {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
	/*border:solid 16px red;*/
	


}
.social>i{

	font-size: 400%;
	padding:0 4%;
	color:white;

}

.social>i:hover {
	animation-name: soc;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-direction: forward;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes soc{
	0%{
		transform:scale(1,1);
	}
	
	100%{
		transform:scale(2,2);
	}
	
}
.ico{
	margin-top:50%;
	font-size: 80px;
	text-align: left;
	font-family:Impact;
	color:darkblue;
 	-webkit-text-fill-color: transparent;
 	background: -webkit-linear-gradient(transparent, transparent),
             url("blue_storm.gif") repeat;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
}








.whitepaper{
	background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));
	height:200px;
	text-align: center;
	color:white;
	
}
.whitepaper>h1{
	text-align:right;
	margin-right: 5%;
	color:white;
	font-family:Raleway;
}

.whitepaper>div{
	
	color:white;
	max-width: 40%;
	margin:0 auto;
}






#team{
	padding-top:7%;
	/*background:linear-gradient(rgb( 0, 0, 200),rgb( 10, 60, 255));*/
	background:rgb( 0, 0, 80);
	text-align: center;
}
/*.details>h3,p{
	text-align: center;
	color:white;
}
.details>img{
	height:150px;
	width:130px;
}*/

#team{
	color:white;
	font-size: 40px;

}
.team{
	padding-top: 2%;
	padding-bottom:3%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap:wrap;
	

}

.team>div{
	width:20%;
	text-align: center;
}


/*
.icon{
	position:absolute;
	margin-left: -6%;
	margin-top:5%;
	background-color: black;
	padding-left:2%;
	padding-right:2%;
	color:white;
	width:50px;	
	
	
}*/

.mem >img:hover {
	opacity:0.3;
	border:solid 3px blue;
	margin:-3px 0;
}
.mem>img{
	border-radius: 50%
}



#token{
	padding-bottom: 7%;
	padding-top:6%;
	/*background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));*/
	background:rgb( 0, 0, 50);
	text-align: center;

}


.token {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
	/*border:solid 16px red;*/
	


}

.token>div{
	padding:0 6%;
	font-size: 20px;
	color:blue;
	font-weight:bold;
}
.icon{

	font-size: 400%;
	color:blue;
	padding-bottom: 30%;

}



#mail{
	background: black;

}
.mail{
	color:blue;
	display:flex;
	justify-content: center;
	padding: 3%;
}
.mail>input{
	margin-left:2%;
	border-radius: 20px;
	z-index:1;
	border:solid 4px blue;
	outline:none;
	text-align: center;
	color:blue;
}

.mail>button{
	border:solid 4px blue;
	outline:none;
	margin-left: -10px;
	z-index:0;
	width:8%;
	color:blue;
	background:white;
	font-size: 20px;
	font-weight: bold;
	/*border-radius: 20px;*/
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: -20px;
}

.mail>button{
	cursor:pointer;
}

/*.container{
	background:blue;
}*/

.design{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

#head{
	font-family: Raleway;
	font-size: 80px;
	color:white;
}
.design>p{
	font-size: 30px;
	font-family: Raleway;
	color:white;
}
#details{
	
	background:linear-gradient(to left,rgb( 100, 100, 255),rgb( 0, 0, 90));

}