
section{
	height:100%;
	padding: 7% 0;
}

nav{
	display:flex;
	flex-wrap:wrap;
	
}


.topDisplay{
	height:650px;
	background: linear-gradient(to top,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url('decent.jpg');

	z-index: 0;
}

.display{
	display: flex;
	justify-content: space-between;
	
	padding-top: 20%;
}

#dgcamp{
	max-height:40%;
	max-width:60%;
}
.nav_background{
	background-color: rgba( 0, 0, 100, 1);
	/*background-color:rgba( 255, 255, 255, 0.5);*/
	transition: all 0.5s linear;
}
.nav-link{
	color:white;
	font-family: Raleway;
	font-size:30px;
	transition: font-size 0.5s linear;
	
}

.navbar-left{
	outline:none;
}

.nav-link:hover{
	border-bottom:solid 4px blue;
	color:white;
	font-size:30px;
	padding-top:4px;
	
}


#logo{
	max-height:100px;
	max-width:200px;
	margin-left: 30px;
	transition: all 0.5s linear;

}

#social{
	padding-bottom: 7%;
	padding-top:2%;
	background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));
	text-align: center;

}
#social>h1{
	padding-bottom: 2%;
	font-family: Raleway;
	/*font-weight: bold;*/
	font-size: 40px;
	color:white;

}

.social {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
	/*border:solid 16px red;*/
	


}
.social>i{

	font-size: 400%;
	padding:0 4%;
	color:white;
	cursor: pointer;
}

.social>i:hover {
	animation-name: soc;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-direction: forward;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

}

@keyframes soc{
	0%{
		transform:scale(1,1);
	}
	
	100%{
		transform:scale(2,2);
	}
	
}
.ico{
	margin-top:20%;
	font-size: 80px;
	text-align: left;
	font-family:Impact;
	color:darkblue;
 	-webkit-text-fill-color: transparent;
 	background: -webkit-linear-gradient(transparent,rgba( 0, 0, 150, 0.7) ),
             url("blue_storm.gif") repeat;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
}
#logo1{
	margin-top: 10%;
	max-height: 100px;
	max-width: 100px;
}

.scroll{
	border-radius: 50%;
	height:70px;
	width:70px;
	background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));
	margin: 0 auto;
	margin-top:10%;
	padding-top:0.7%;
}
.arrow {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  cursor:pointer;
  
  margin:0 auto;
  

  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}









.whitepaper{
	background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));
	height:200px;
	text-align: center;
	color:white;
	
}
.whitepaper>h1{
	text-align:right;
	margin-right: 5%;
	color:white;
	font-family:Raleway;
}

.whitepaper>div{
	
	color:white;
	max-width: 40%;
	margin:0 auto;
}






#team{
	padding-top:7%;
	/*background:linear-gradient(rgb( 0, 0, 200),rgb( 10, 60, 255));*/
	/*background:rgb( 0, 0, 80);*/
	background:white;

	text-align: center;
}
/*.details>h3,p{
	text-align: center;
	color:white;
}
.details>img{
	height:150px;
	width:130px;
}*/

#team{
	color:darkblue;
	font-family: Raleway;
	font-size: 40px;
	height:100%;
	font-weight: bold;

}
.team{
	padding-top: 2%;
	padding-bottom:3%;
	display:flex;
	flex-direction: row;
	
	justify-content: space-between;
	align-content: space-between;
	flex-wrap:wrap;
	

}

.team>div{
	max-width:20%;
	text-align: center;
	max-height:200px;
	padding: 0% 2%;
	/*background:red;*/
}


/*
.icon{
	position:absolute;
	margin-left: -6%;
	margin-top:5%;
	background-color: black;
	padding-left:2%;
	padding-right:2%;
	color:white;
	width:50px;	
	
	
}*/

.mem >img:hover {
	opacity:0.3;
	border:solid 3px blue;

	
}


.mem>img{
	border-radius: 50%;
	height: 90%;
	width: 80%;
	z-index:600;
	position:relative;
	background:white;
	cursor: pointer;

	/*webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */*/
    /*filter: grayscale(100%);*/
}
.mem>i{
	top:-50%;
	color:darkblue;

	background:white;
	opacity:1;
	border-radius: 10%;
	position: relative;
	z-index:1;
	margin-bottom: -20%;

}



#token{
	padding-bottom: 7%;
	padding-top:6%;
	/*background:linear-gradient(rgb( 0, 120, 200),rgb( 0, 0, 250));*/
	background:rgb( 0, 0, 50);
	text-align: center;

}


.token {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
	/*border:solid 16px red;*/
	


}

.token>div{
	padding:0 6%;
	font-size: 20px;
	color:blue;
	font-weight:bold;
}
.icon{

	font-size: 400%;
	color:blue;
	padding-bottom: 30%;

}



#mail{
	background: linear-gradient(to right,rgb( 0, 0, 0),rgb(0, 0, 250),rgb( 0, 0, 0));

}
.mail{
	color:black;
	display:flex;
	justify-content: center;
	
}
.mail>input{
	margin-left:2%;
	border-radius: 20px;
	z-index:0;
	border:solid 4px blue;
	outline:none;
	text-align: center;
	color:blue;
	background: rgba( 0, 0, 0, 0.99);
}

.mail>button{
	border:solid 4px blue;
	outline:none;
	margin-left: -40px;
	z-index:1;
	width:13%;
	color:blue;
	background: rgba(0,0,0,0.99);
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	/*border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: -20px;*/
	cursor:pointer;
	transition:all 1s linear;
}

.mail>button:hover{
	background:darkblue;
	color:white;
}



/*.container{
	background:blue;
}*/

.design{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

#head{
	font-family: Raleway;
	font-size: 80px;
	color:darkblue;
}
.design>p{
	font-size: 30px;
	font-family: Raleway;
	color:darkblue;
}
#details{
	padding-top: 10%;
	background:white;

}

.footer{
	background:linear-gradient(to right,rgb( 0, 0, 0),rgb(0, 0, 250),rgb( 0, 0, 0));
	height:100%;
	padding: 10px 20px;
	display:flex;
	justify-content: space-between;
	color:white;

}

#logo2{
	height: 50px;
	width: 50px;
}


#distro{
	background:darkblue;

}
.distro{
	padding:0 10%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	color:white;
}

.distro>div img {
	height:85%;
	width:70%;
}


#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("loading.gif") no-repeat center center black;
}